@page 
@model SibersProject.Pages.Employee.AddEmployeeModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавить сотрудника";
}

<form method="post" asp-page="/employee/addemployee">
     <div>
        <span asp-validation-for="@Model.EmployeeInput.FirstName"></span>
        <label asp-for="@Model.EmployeeInput.FirstName"></label>
        <input asp-for="@Model.EmployeeInput.FirstName">
    </div>
    <div>
        <span asp-validation-for="@Model.EmployeeInput.LastName"></span>
        <label asp-for="@Model.EmployeeInput.LastName"></label>
        <input asp-for="@Model.EmployeeInput.LastName">
    </div>
    <div>
        <span asp-validation-for="@Model.EmployeeInput.MiddleName"></span>
        <label asp-for="@Model.EmployeeInput.MiddleName"></label>
        <input asp-for="@Model.EmployeeInput.MiddleName">
    </div>
    <div>
        <span asp-validation-for="@Model.EmployeeInput.Email"></span>
        <label asp-for="@Model.EmployeeInput.Email"></label>
        <input asp-for="@Model.EmployeeInput.Email">
    </div>
    <input type="submit" value="Добавить" /> 
</form>
