@page "/EmployeesShow"
@model SibersProject.Pages.Employee.EmployeesShowModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Сотрудники";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./EmployeesShow" asp-route-sortColumn="EmployeeId" asp-route-sortDirection="@(Model.SortColumn == "EmployeeId" && Model.SortDirection == "asc" ? "desc" : "asc")">
                    ID @(Model.SortColumn == "EmployeeId" ? (Model.SortDirection == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./EmployeesShow" asp-route-sortColumn="Email" asp-route-sortDirection="@(Model.SortColumn == "Email" && Model.SortDirection == "asc" ? "desc" : "asc")">
                    Email @(Model.SortColumn == "Email" ? (Model.SortDirection == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./EmployeesShow" asp-route-sortColumn="FirstName" asp-route-sortDirection="@(Model.SortColumn == "FirstName" && Model.SortDirection == "asc" ? "desc" : "asc")">
                    FirstName @(Model.SortColumn == "FirstName" ? (Model.SortDirection == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./EmployeesShow" asp-route-sortColumn="LastName" asp-route-sortDirection="@(Model.SortColumn == "LastName" && Model.SortDirection == "asc" ? "desc" : "asc")">
                    LastName @(Model.SortColumn == "LastName" ? (Model.SortDirection == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./EmployeesShow" asp-route-sortColumn="MiddleName" asp-route-sortDirection="@(Model.SortColumn == "MiddleName" && Model.SortDirection == "asc" ? "desc" : "asc")">
                    MiddleName @(Model.SortColumn == "MiddleName" ? (Model.SortDirection == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllEmployees)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.Email</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td><a class="btn btn-danger" asp-page="/Employee/UpdateEmployee" asp-route-id="@item.EmployeeId">Update @item.FirstName</a></td>
                <td><a class="btn btn-danger" asp-page="/Employee/DeleteEmployee" asp-route-id="@item.EmployeeId">Delete @item.FirstName</a></td>
            </tr>
        }
    </tbody>
</table>