@page "/updateemployee/{id:int}"
@model SibersProject.Pages.Employee.UpdateEmployeeModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ред. сотрудника";
}

 <form asp-page="/employee/updateemployee" method="post">
    <input type="hidden" asp-for="@Model.EmployeeInput.EmployeeId" />
    <input readonly asp-for="@Model.EmployeeInput.Email" value="@Model.EmployeeInput.Email" />
    <input asp-for="@Model.EmployeeInput.FirstName" value="@Model.EmployeeInput.FirstName" />
    <input asp-for="@Model.EmployeeInput.LastName" value="@Model.EmployeeInput.LastName" />
    <input asp-for="@Model.EmployeeInput.MiddleName" value="@Model.EmployeeInput.MiddleName" />

    <input type="submit" value="Обновить" /> 
    
</form>

